
body{
  background-image:url("../images/friends background.jpg");
  
}

h2{
  font-weight:bold;
  font-size:xx-large;
}

form{
  padding: 5px 5px 15px 5px;
}

.jumbotron {
  height: 300px;
  color: inherit;
  background-color: darkorchid;
  border: 3px solid black;
  border-radius: 50px;
}

.jumbotron.text-center {
  background-image: url(../images/friends_title_jumbo.png);
  background-repeat: no-repeat;
  background-position: center;

}

#timer{
  color: rgb(0, 0, 0);
}

#question{
  color:rgb(0, 0, 0);
}

#body-container{
  background-color :rgb(255, 255, 255);
  opacity: 1.0;
  height:auto;
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
}


button{
  margin: 10px;
}

input[type="radio"] {
  margin: 5px 10px;
  padding: 5px;
}

b{
  text-decoration: none;
}
